# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
!vendor/bower/fuberme
vendor/budyaga/
vendor/cozumel/
vendor/imagine/
vendor/karpoff/
vendor/marciocamello/
vendor/mongosoft/
vendor/paypal/
vendor/sjaakp/
vendor/yiisoft/yii2-imagine/
vendor/yiisoft/yii2-jui/
/web/assets
/config/db.php
vendor/bower/simple-ajax-uploader/
vendor/bower/jquery-ui/
vendor/bower/jcrop/


# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
